.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    .container {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        background-image: linear-gradient(90deg, rgb(235, 3, 227), rgb(116, 4, 112));
        color: white;
        align-items: center;
    
    
        div.icon {
            width: 50px;
            height: 20px;
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: space-between;

            & > div {
                width: 30px;
                height: 1px;
                border: 2px solid rgb(8, 170, 245);
                padding: 0px;
                margin-right: 10px;
            }
        }
    
        div {
            font-size: 20px;
            padding: 5px;
        }
    }
}
