
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
    background-image: linear-gradient(0deg, purple, rgb(76, 0, 255));

    .container {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        margin: 30px 0px;
        background-color: rgb(92, 3, 92);
        border-radius: 20px;
        max-width: 600px;

        & > div {
            margin: 5px;
        }

        

        & > form {
            width: 80%;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 10px;
                box-sizing: border-box;
                height: 70px;
                width: 100%;

                & > label {
                    width: 100%;
                    text-align: start;
                    margin: 5px;
                    padding: 0px;
                }

                & > input {
                    border: 3px solid white;
                    border-style: hidden hidden solid hidden;
                    height: 40px;
                    background-color: rgb(92, 3, 92);
                    outline: none;
                    margin: 5px;
                    width: 100%;
                    color: white;
                    font-size: 16px;
                    text-align: center;
                    max-width: 300px
                }
            }

            & > button {
                width: 80%;
                height: 50px;
                background-image: linear-gradient(90deg, rgb(237, 17, 145), rgb(9, 253, 253));
                border: none;
                color: white;
                font-size: 20px;
                border-radius: 30px;
                max-width: 160px;
                
                &:disabled {
                    background-image: linear-gradient(90deg, rgba(237, 17, 145, 0.3), rgba(9, 253, 253, 0.2));
                }
            }
        }

        & > div {
            margin: 10px;

            button {
                background-color: transparent;
                color: white;
                border: 2px solid white;
                border-radius: 20px;
                height: 28px;
                transition: all 0.5s;

                &:active {
                    color: rgb(112, 5, 62);
                    background-color: white;
                }
            }
        }
    }
}