@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Light.woff2') format('woff2'),
      url('./fonts/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-family: 'Quicksand';
}

body {
  margin: 0;
    font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder {
  color: rgb(177, 170, 170);
  font-size: 16px;
}

button {
  outline: none;
}